#todoList p{
    width: 80%;
}

#todoList li{
    list-style-type: none;
}

/* 

li {
    background-color: rgb(236, 236, 236);
    padding: 20px;

    display:flex;
    justify-content: center;
    align-items: center;
}

li p {
    font-weight: 600;
    margin: 0;
}
 */

i{
    flex-direction: column;
    text-decoration: line-through;
    color: rgb(58, 52, 52);
}